html {
  font-size: 0.6vw;
}
body {
  font-size: 1.5rem;
}
button[customSize="large"] {
  height: 50px;
}
h1 {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 0% !important;
}

@media (max-width: 1024px) {
  html {
    font-size: 5.33px;
  }
}
